*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #e6e6e6;
}
.headingName{
  color: #424242;
  text-align: center;
  margin: 24px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
}
img{
  margin: auto;
  text-align: center;
  display: block;
}